* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #0a402b;
    background-image: url(../Images/ELEMENT.png);
    background-repeat: repeat-y;
    background-size: cover;
}

hr {
    width: 100%;
    height: 0.25vw;
    color: white;
    background-color: white;
}

img {
    width: 100%;
}

button {
    border-radius: 5px;
    border-style: none;
}

button:hover {
    cursor: pointer;
    background-color: gold;
    scale: 1.01;
}

.tag {
    background-color: #efd994;
    display: inline-block;
    position: relative;
    color: #184041;
    margin: 1.5vw 0vw;
    position: relative;
    padding-right: 2.5vw;
    width: 70%;
}


.details {
    margin: .7vw 2.5vw;
}

.tag::before,
.details::after {
    display: block;
    content: '';
    position: absolute;
    background-color: #000;
}

.details::after {
    width: 90%;
    height: .25vw;
    inset: auto 0;
}

.tag::before {
    inset: 0 auto;
    height: 100%;
    width: .25vw;
    margin-left: 1.8vw;
}

.details p {
    font-style: italic;
    font-size: 1.3vw;
}

.details h1 {
    font-size: 5vw;
}

.author {
    text-align: right;
    font-style: italic;
    font-size: 1.5vw;
    font-weight: bold;
}

.container,
.container2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: nowrap;
    margin: auto;
    padding: 2vw;
}

.content {
    width: 40%;
    color: white;
}

.article-img {
    width: 40%;
}

.container2 {
    width: 80%;
}

.img-card {
    width: 25%;
    text-align: center;
}

.img-card img {
    width: 50%;
    margin: auto;
    border: .05vw solid #d9bb15;
}

.img-card h5 {
    color: #ddbb15;
}

.img-card p {
    color: white;
}

.dialog {
    width: 60%;
    background-color: #d9bc154f;
    padding: 1vw 2vw;
    color: white;
}